header{
    text-align: center;
    margin: 50px;
}

.w3-row{
    margin-bottom: 30px;
}
.sidebar {
   height: 100%; 
   width: 0; 
   position: fixed; 
   z-index: 1; 
   top: 0;
   left: 0;
   background-color: #111; 
   overflow-x: hidden; 
   padding-top: 60px; 
   transition: 0.5s;
 } 
 .sidebar a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }
 
 .sidebar a:hover{
   color: #f1f1f1;
   text-decoration: none;
 }
 
 .sidebar .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }
 
 .openbtn {
   font-size: 20px;
   cursor: pointer;
   background-color: grey;
   color: white;
   padding: 10px 15px;
   border: none;
 }

 .openbtn:hover {
   background-color: #444;
 }
       #main {
   transition: margin-left .5s; 
   padding: 20px;
 }
       @media screen and (max-height: 450px) {
   .sidebar {padding-top: 15px;}
   .sidebar a {font-size: 18px;}
 }
 img{
   width: 100% ;
 }

 .column{
   padding: 10px;
 }